.heroBox {
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  padding: 36px 48px;
  position: relative;
  z-index: 1;
}

.heroText {
  font-family: "Fraunces", serif;
  font-size: 56px;
  color: white;
  margin-top: 105px;
}

.arrow {
  width: 40px;
  height: 80px;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1002;
}

.logo {
  font-size: 56px;
  font-family: "Barlow", sans-serif;
  color: white;
}

.desktopNav {
  display: flex;
  gap: 24px;
  list-style: none;
  font-family: "Barlow", sans-serif;
}

.desktopNav li a {
  text-decoration: none;
  width: 140px;
  height: 56px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  padding: 16px 30px;
  border-radius: 28px;
  /* transition: background-color 0.3s; */
}

.desktopNav li a:hover {
  background-color: #eff5f6;
  color: black;
  text-transform: uppercase;
}

.desktopNav li a:active {
  background-color: #eff5f64c;
  color: white;
}

.burgerMenu {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1003;
}

.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 300px; */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 1001;
}

.mobileMenuContent {
  width: 80%;
  max-width: 329px;
  margin-top: 100px;
  margin-right: 20px;
  background-color: white;
  padding: 63px 93px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-out;
  z-index: 1002;
}

.burgerMenuList {
  z-index: 1003;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.burgerMenuListTitle {
  font-family: barlow, sans-serif;
  font-size: 20px;
  color: #808397;
  cursor: pointer;
  padding: 16px 32px;
  font-weight: 600;
  border-radius: 30px;
}

.burgerMenuListTitle:hover {
  background-color: #fbd600;
  color: black;
  /* border-radius: 30px; */
  text-transform: uppercase;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.mobileNav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* .mobileNav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
} */

.mobileNav li a:hover {
}

/* Media Queries */
@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
}
